permissions: write-all # Equivalent to default permissions plus id-token: write
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-crd2pulumi
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
name: ci
on:
  pull_request: null
  push: null
jobs:
  ci:
    runs-on: macos-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            **/go.sum

      - name: Run Go Build
        run: make build

      - name: Run tests
        run: make test

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ steps.esc-secrets.outputs.CODECOV_TOKEN }}

      - name: Goreleaser publishing dry run
        uses: goreleaser/goreleaser-action@v3
        with:
          version: v1.26.2
          args: release --rm-dist --skip-publish
        env:
          GITHUB_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
