name: release
"on":
  push:
    tags:
      - v*.*.*
      - '!v*.*.*-**'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CGO_ENABLED: 0

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Unshallow clone
        run: git fetch --prune --unshallow --tags
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Go 1.18
        uses: actions/setup-go@v3
        with:
          go-version: '1.18.x'
      - name: Goreleaser publish
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
          CGO_ENABLED: 0
      - name: Chocolatey Package Deployment
        run: |
          CURRENT_TAG=$(pulumictl get version --language generic -o)
          pulumictl create choco-deploy -a crd2pulumi ${CURRENT_TAG}
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}


