name: release
"on":
  push:
    tags:
      - v*.*.*
      - '!v*.*.*-**'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  goreleaser:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            **/go.sum
      - name: Goreleaser publish
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
      - name: Chocolatey Package Deployment
        run: |
          CURRENT_TAG=$(pulumictl get version --language generic -o)
          pulumictl create choco-deploy -a crd2pulumi ${CURRENT_TAG}
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
